<!doctype html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <style media="screen" type="text/css">
    /* @media only screen and (max-width: 767px) { */
      table figure {
        width: 100% !important;
      }
      table figure img {
        width: 100% !important;
      }
      table div {
        width: 95% !important;
      }

    /* } */
  </style>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
</head>

<body style="background-color:#FFF;">
  <div style="padding:0 3%;margin: 0 auto;max-width: 800px;">
    <table style="width: 100%;">
      <tr class="hdr">
        <td style="text-align:center">
          <figure style="padding:0;margin:0;background-color: #fff!important;">
            <!-- <img src="http://cafedelvalle.org/img/logo.png" alt="" style="padding:0;margin:0; max-height: 150px"> -->
            <img src="http://www.escuelacumbre.edu.pe/2018/web/images/logo.jpg" alt="Escuela Cumbre">
          </figure>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <strong> Nombre: </strong> {nombre}
          </p>
          <p>
            <strong> Email: </strong> {email}
          </p>
          <p>
            <strong> Mensaje: </strong> {mensaje}
          </p>
        </td>

      </tr>

      <tr>
        <td>
          <hr>
        </td>
      </tr>
      <tr>
        <td style="font-size:.85rem ;">
          <h4>Contactanos</h4>
          <p> <strong> Dirección: </strong> Av. Lora y Lora N°625, Urb. Patazca - Chiclayo </p>
          <p> <strong> Email: </strong> recepcion@escuelacumbre.edu.pe </p>
          <p> <strong> Teléfonos: </strong> (074) 228790 / (+51) 979 449 746 </p>
        </td>
      </tr>
    </table>
  </div>
</body>

</html>
